<template>
    <div class="panel d-flex flex-row">
        <div
                id="panelSearchForm"
                class="w-25 flex-fill d-flex flex-column justify-content-center flex-grow-1">
            <div class="form-inline d-flex flex-row align-content-center justify-content-center row m-1 w-100">
                <span class="w-50 font-weight-bold m-1 text-light">
                    Departure airport
                </span>
                <label class="w-50">
                    <AerodromeSearchInput
                            :is-departure="true"
                            :only-airports-in-flight-plans="false"
                            :no-airports-found-message="'No airports found.'"
                    />
                </label>
            </div>
            <div class="form-inline d-flex flex-row align-content-center justify-content-center row m-1 w-100">
                <span class="w-50 font-weight-bold m-1 text-light">
                    Arrival airport
                </span>
                <label class="w-50">
                    <AerodromeSearchInput
                            :is-departure="false"
                            :only-airports-in-flight-plans="false"
                            :no-airports-found-message="'No airports found.'"
                    />
                </label>
            </div>
            <div class="form-inline d-flex flex-row align-content-center justify-content-center row m-1 w-100">
                <span class="w-50 font-weight-bold m-1 text-light">
                        Number of waypoints
                </span>
                <div class="w-50">
                    <label>
                        <select class="form-control m-1 col w-100" v-model="selectedNumberOfWaypoints">
                            <option
                                    v-for="option in numberOfWaypointsOptions"
                                    :value="option.apiCallValue"
                                    :key="`option${option.numericValue}Id`"
                            >
                                {{option.numericValue}}
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div
                id="panelControlsGroup"
                class="w-25 flex-fill d-flex flex-column justify-content-center flex-grow-1">
            <div class="w-100 h-25 row m-2 d-flex flex-row justify-content-center align-content-center">
                <button
                        data-toggle="tooltip"
                        :title="getLoadWaypointsTooltip"
                        data-placement="bottom"
                        class="w-50 btn btn-secondary"
                        @click="loadAndDisplayWaypoints"
                >
                    Load waypoints
                </button>
                <button
                        class="actionInformationButton m-2"
                        data-toggle="tooltip"
                        title="Load waypoints information"
                        data-placement="bottom"
                        @click="showLoadWaypointsInformation"
                >
                </button>
            </div>
            <div class="w-100 h-25 row m-2 d-flex flex-row justify-content-center align-content-center">
                <button
                        data-toggle="tooltip"
                        :title="getRemoveCustomFlightPlanTooltip"
                        data-placement="bottom"
                        class="w-50 btn btn-danger"
                        @click="removeCustomFlightPlan"
                >
                    Remove custom plan
                </button>
                <button
                        class="actionInformationButton m-2"
                        data-toggle="tooltip"
                        title="Remove custom plan information"
                        data-placement="bottom"
                        @click="showRemoveCustomPlanInformation"
                >
                </button>
            </div>
        </div>
        <div
                id="panelList"
                class="w-50 d-flex flex-fill align-content-center justify-content-center flex-grow-1 h-100">
            <Collection
                    :delete-item="removeWaypointFromList"
                    :get-displayed-content="getWaypointDisplayedContent"
                    :get-displayed-content-tooltip="getWaypointDisplayedContentToolTip"
                    :items="getElements"
                    delete-button-tooltip-content="Remove this waypoint from the list."
                    list-title="Selected waypoints"
                    empty-list-message="There are no selected waypoints to display."
            />
        </div>
    </div>
</template>

<script>
    import AerodromeSearchInput from "../aerodromeSearch/AerodromeSearchInput";
    import Collection from "../collection/Collection";
    import WaypointModel from '../../model/waypoint';
    import A from '../../constants/actions';

    export default {
        name: "CustomFlightPlanPanel",
        components: {
            Collection,
            AerodromeSearchInput,
        },
        data() {
            return {
                selectedNumberOfWaypoints: ''
            }
        },
        computed: {
            getLoadWaypointsTooltip() {
                return 'Loads and displays the waypoint contained by the bounding box of the two selected airports.'
            },
            getRemoveCustomFlightPlanTooltip() {
                return 'Removes the created custom flight plan and it\'s prediction from the map.';
            },
            getElements() {
                return this.$store.state.waypointsStore.waypointsInList;
            },
            numberOfWaypointsOptions() {
                return WaypointModel.numberOfWaypointsOptions;
            },
        },
        methods: {
            getAirport(identifier) {
                return identifier === 'departure' ?
                    this.$store.state.aerodromeStore.selectedDepartureAerodrome :
                    this.$store.state.aerodromeStore.selectedArrivalAerodrome;
            },
            removeWaypointFromList(waypointId) {
                this.$store.dispatch(A.WAYPOINTS_REMOVE_FROM_LIST, waypointId);
            },
            getWaypointDisplayedContent(waypoint) {
                return `${waypoint.designator} { latitude: ${waypoint.position.latitude}, longitude: ${waypoint.position.longitude} }`;
            },
            getWaypointDisplayedContentToolTip(waypoint) {
                return `${waypoint.designator} { latitude: ${waypoint.position.latitude}, longitude: ${waypoint.position.longitude} }`;
            },
            loadAndDisplayWaypoints() {
                let departureAirport = this.getAirport('departure');
                let arrivalAirport = this.getAirport('arrival');
                let numberOfWaypoints = this.selectedNumberOfWaypoints;
                if (departureAirport === null || arrivalAirport === null || numberOfWaypoints === '') {
                    let title = 'Warning!';
                    let text = departureAirport === null ?
                        'Departure airport not selected.' :
                        arrivalAirport === null ? 'Arrival airport not selected.' : 'Number of waypoints not selected.';
                    this.$store.dispatch(A.ALERT_TOGGLE, {
                        display: true,
                        title,
                        text
                    });
                    return;
                }
                this.$store.dispatch(A.PROGRESS_INDICATOR_TOGGLE, {
                   toggle: true,
                   message: 'Fetching waypoints...',
                   canBeCancelled: true,
                });
                this.$store.dispatch(A.WAYPOINTS_LOAD, {
                    departureAerodromeDesignator: departureAirport.designator,
                    arrivalAerodromeDesignator: arrivalAirport.designator,
                    numberOfWaypoints: numberOfWaypoints,
                });
            },
            removeCustomFlightPlan() {
                if (this.$store.state.customFlightPlanStore.createdCustomFlightPlan !== null
                    || this.$store.state.customFlightPlanStore.predictionOfCustomFlightPlan !== null) {
                    this.$store.dispatch(A.CUSTOM_FLIGHT_PLAN_CLEAR);
                } else {
                    let title = 'Warning!';
                    let text = 'No custom flight plan created.';
                    this.$store.dispatch(A.ALERT_TOGGLE, {
                        display: true,
                        title,
                        text
                    });
                }
            },
            showLoadWaypointsInformation() {
                this.$store.dispatch(A.INFORMATION_TOGGLE, {
                    display: true,
                    title: 'Load waypoints',
                    content: 'After selecting a departure airport, an arrival airport and a number of waypoints you ' +
                        ' can click this button in order to display on the map the selected number of waypoints which ' +
                        'are between the selected airports.<br/>' +
                        'You can than select some waypoints by clicking on them and then clicking the \'Add\' button ' +
                        'to populate the list of waypoints and than you can click on \'Predict created plan\' to ' +
                        'display on the map the constructed flight plan and it\'s prediction.',
                });
            },
            showRemoveCustomPlanInformation() {
                this.$store.dispatch(A.INFORMATION_TOGGLE, {
                    display: true,
                    title: 'Remove custom plan',
                    content: 'If you have predicted a custom flight plan you can use this button if you wish to remove ' +
                        'it and it\'s prediction from the map.<br/>' +
                        'If you try to click this button without having a custom flight plan on the map an error message ' +
                        'will appear.',
                });
            },
        }
    }
</script>

<style scoped>

</style>