<template>
    <div class="panel d-flex flex-row">
        <div
                id="panelSearchForm"
                class="w-25 flex-fill d-flex flex-column justify-content-center flex-grow-1">
            <div class="form-inline d-flex flex-row align-content-center justify-content-center row m-1 w-100">
                <span class="w-50 font-weight-bold m-1 text-light">
                    Departure airport
                </span>
                <label>
                    <AerodromeSearchInput
                            :is-departure="true"
                            :only-airports-in-flight-plans="true"
                            :no-airports-found-message="'No airports found or the found airports are not in any flight plan.'"
                    />
                </label>
            </div>
            <div class="form-inline d-flex flex-row align-content-center justify-content-center row m-1 w-100">
                <span class="w-50 font-weight-bold m-1 text-light">
                    Arrival airport
                </span>
                <label>
                    <AerodromeSearchInput
                            :is-departure="false"
                            :only-airports-in-flight-plans="true"
                            :no-airports-found-message="'No airports found or the found airports are not in any flight plan.'"
                    />
                </label>
            </div>
        </div>
        <div
                id="panelControlsGroup"
                class="w-25 flex-fill d-flex flex-column justify-content-center flex-grow-1">
            <div class="w-100 h-25 row m-2 d-flex flex-row justify-content-center align-content-center">
                <button
                        data-toggle="tooltip"
                        :title="addToListTooltipContent"
                        data-placement="bottom"
                        class="btn btn-secondary w-50"
                        @click="addFlightPlan"
                >
                    Add to list
                </button>
                <button
                        class="actionInformationButton m-2"
                        data-toggle="tooltip"
                        title="Add to list information"
                        data-placement="bottom"
                        @click="showAddToListInfo"
                >
                </button>
            </div>
            <div class="w-100 h-25 row m-2 d-flex flex-row justify-content-center align-content-center">
                <button
                        data-toggle="tooltip"
                        :title="renderFlightsTooltipContent"
                        data-placement="bottom"
                        class="w-50 btn btn-secondary"
                        @click="renderFlightPlans"
                        :disabled="disabledButtons"
                >
                    Render flights
                </button>
                <button
                        class="actionInformationButton m-2"
                        data-toggle="tooltip"
                        title="Render flights information"
                        data-placement="bottom"
                        @click="showRenderFlightsInfo"
                >
                </button>
            </div>
            <div class="w-100 h-25 row m-2 d-flex flex-row justify-content-center align-content-center">
                <button
                        data-toggle="tooltip"
                        :title="predictFlightsTooltipContent"
                        data-placement="bottom"
                        class="w-50 btn btn-secondary"
                        @click="predictFlightPlans"
                        :disabled="disabledButtons"
                >
                    Predict flights
                </button>
                <button
                        class="actionInformationButton m-2"
                        data-toggle="tooltip"
                        title="Predict flights information"
                        data-placement="bottom"
                        @click="showPredictFlightsInfo"
                >
                </button>
            </div>
            <div class="w-100 h-25 row m-2 d-flex flex-row justify-content-center align-content-center">
                <button
                        data-toggle="tooltip"
                        :title="clearAllTooltipContent"
                        data-placement="bottom"
                        class="w-50 btn btn-danger"
                        @click="clearAll"
                        :disabled="disabledButtons"
                >
                    Clear all
                </button>
                <button
                        class="actionInformationButton m-2"
                        data-toggle="tooltip"
                        title="Predict flights information"
                        data-placement="bottom"
                        @click="showClearAllInfo"
                >
                </button>
            </div>
        </div>
        <div
                id="panelList"
                class="w-50 d-flex flex-fill align-content-center justify-content-center flex-grow-1 h-100">
            <Collection
                    :delete-item="removeFlightPlanFromList"
                    :get-displayed-content="getFlightPlanDisplayedContent"
                    :get-displayed-content-tooltip="getFlightPlanDisplayedContentTooltip"
                    :items="getElements"
                    delete-button-tooltip-content="Remove this flight plan from the list and from the map."
                    list-title="Selected flight plans"
                    empty-list-message="There are no selected flight plans to display."
            />
        </div>
    </div>
</template>

<script>
    import A from '../../constants/actions';
    import Collection from '../collection/Collection';
    import AerodromeSearchInput from "../aerodromeSearch/AerodromeSearchInput";
    import FlightPlanService from "../../service/flightPlanService";

    function getGarbageBinIconSrc() {
        const images = require.context('../../assets', false, /\.svg$/);
        return images(`./garbage-bin.svg`);
    }

    export default {
        name: "DefaultFlightPlansPanel",
        components: {
            Collection,
            AerodromeSearchInput
        },
        computed: {
            getElements() {
                return this.$store.state.flightPlansStore.elementsInTable;
            },
            addToListTooltipContent() {
                return "Adds to the flight plans list the flight plan " +
                    "from the selected departure aerodrome to the selected arrival aerodrome."
            },
            renderFlightsTooltipContent() {
                return "Shows all the flight plans from the list on the map.";
            },
            predictFlightsTooltipContent() {
                return "Predicts the actual flight route for the flight plans in the list and " +
                    "displays the flight plans and their predictions on the map.";
            },
            clearAllTooltipContent() {
                return "Clears all flight plans from the list and from the map.";
            },
            disabledButtons() {
                return this.getElements.length === 0;
            }
        },
        methods: {
            isFlightPlanInTable(departureAirport, arrivalAirport) {
                let flightPlans = this.$store.state.flightPlansStore.elementsInTable;
                let matching = flightPlans.filter(fpl =>
                    fpl.departureAirport.designator === departureAirport.designator &&
                        fpl.arrivalAirport.designator === arrivalAirport.designator
                ).length;
                return matching !== 0;
            },
            getAirport(identifier){
                return identifier === 'departure' ?
                    this.$store.state.aerodromeStore.selectedDepartureAerodrome :
                    this.$store.state.aerodromeStore.selectedArrivalAerodrome;
            },
            getFlightPlanDisplayedContent(flightPlan) {
                return `${flightPlan.departureAirport.designator} (${flightPlan.departureAirport.name})` +
                    `  &rarr; ` +
                    `${flightPlan.arrivalAirport.designator} (${flightPlan.arrivalAirport.name})`;
            },
            getFlightPlanDisplayedContentTooltip(flightPlan) {
                return `From ${flightPlan.departureAirport.name} to ${flightPlan.arrivalAirport.name}.`;
            },
            removeFlightPlanFromList(id) {
                this.$store.dispatch(A.FLIGHT_PLAN_REMOVE, id);
            },
            addFlightPlan() {
                let departureAirport = this.getAirport('departure');
                let arrivalAirport = this.getAirport('arrival');
                if (departureAirport === null || arrivalAirport === null) {
                    let title = 'Warning!';
                    let text = departureAirport === null ?
                        'Departure airport not selected.' :
                        'Arrival airport not selected.';
                    this.$store.dispatch(A.ALERT_TOGGLE, {
                        display: true,
                        title,
                        text,
                    });
                    return;
                }
                if (this.isFlightPlanInTable(departureAirport, arrivalAirport)) {
                    let title = 'Warning!';
                    let text = `A flight plan with departure from ${departureAirport.name} ` +
                        `and arrival at ${arrivalAirport.name} already exists in the list.`;
                    this.$store.dispatch(A.ALERT_TOGGLE, {
                        display: true,
                        title,
                        text,
                    });
                    return;
                }
                this.$store.dispatch(A.PROGRESS_INDICATOR_TOGGLE, {
                   toggle: true,
                   message: 'Fetching flight plan...',
                   canBeCancelled: true,
                });
                this.$store.dispatch(A.FLIGHT_PLAN_ADD_TO_TABLE, {departureAirport, arrivalAirport});
                this.$store.dispatch(A.AERODROME_CLEAR_SELECTED_DEPARTURE_AERODROME);
                this.$store.dispatch(A.AERODROME_CLEAR_SELECTED_ARRIVAL_AERODROME);
                this.$store.dispatch(A.AERODROME_CLEAR_LOADED_DEPARTURE_AERODROMES);
                this.$store.dispatch(A.AERODROME_CLEAR_LOADED_ARRIVAL_AERODROMES);
            },
            renderFlightPlans() {
                this.$store.dispatch(A.FLIGHT_PLAN_RENDER_ALL);
            },
            predictFlightPlans() {
                this.$store.dispatch(A.PROGRESS_INDICATOR_TOGGLE, {
                    toggle: true,
                    message: 'Predicting flight plans...',
                    canBeCancelled: true,
                });
                let flightPlansToPredict = JSON.parse(JSON.stringify(this.$store.state.flightPlansStore.elementsInTable));
                flightPlansToPredict = flightPlansToPredict.map(fpl => {
                    fpl.departureAirport = fpl.departureAirport.designator;
                    fpl.arrivalAirport = fpl.arrivalAirport.designator;
                    return fpl;
                });
                let config = {
                    flightPlansToPredict: flightPlansToPredict,
                    onSuccess: (res) => {
                        let dispatch = this.$store.dispatch;
                        res.json()
                            .then(predictedFlightPlansData => {
                                let predictedFlightPlans =
                                    predictedFlightPlansData
                                        .map(predictedFlightPlan => {
                                            predictedFlightPlan.routeElements = predictedFlightPlan.waypoints;
                                            predictedFlightPlan.isPrediction = true;
                                            return predictedFlightPlan;
                                        });
                                dispatch(A.FLIGHT_PLAN_PREDICT_ALL, predictedFlightPlans);
                                dispatch(A.PROGRESS_INDICATOR_TOGGLE, {toggle: false});
                            })
                            .catch(err => {
                                dispatch(A.PROGRESS_INDICATOR_TOGGLE, {toggle: false});
                                dispatch(A.ALERT_TOGGLE, {
                                    display: true,
                                    title: 'Error',
                                    text: 'Failed to predict flight plans.',
                                });
                                console.error(err);
                            });
                    },
                    onError: (err) => {
                        if (err.status) {
                            this.$store.dispatch(A.PROGRESS_INDICATOR_TOGGLE, {toggle: false});
                            this.$store.dispatch(A.ALERT_TOGGLE, {
                                display: true,
                                title: 'Error',
                                text: 'Failed to predict flight plans.',
                            });
                            console.error(err);
                        }
                    }
                };
                FlightPlanService.getPredictedFlightPlans(config);
            },
            clearAll() {
                this.$store.dispatch(A.FLIGHT_PLAN_CLEAR_ALL);
            },
            showAddToListInfo() {
                this.$store.dispatch(A.INFORMATION_TOGGLE, {
                   display: true,
                   title: 'Add to list',
                   content: 'After selecting a departure and an arrival airport you can click this button to fetch a ' +
                       'default flight plan (which starts from the departure airport and ends at the arrival airport) ' +
                       'from the database.<br/>' +
                       'These \'default\' flight plans are the ones which were used to train the artificial neural network.<br/>' +
                       'If you wish to know more about what a flight plan is click on the \'General information\' button ' +
                       'which is located at the bottom left corner of the panel.',
                });
            },
            showRenderFlightsInfo() {
                this.$store.dispatch(A.INFORMATION_TOGGLE, {
                    display: true,
                    title: 'Render flights',
                    content: 'This button is active only after loading at least one flight plan in the list.<br/>' +
                        'You can use this function if you wish to display the route of the selected flight plans ' +
                        '(the ones which are in the list).<br/>'+
                        'If you wish to know more about what a flight plan is click on the \'General information\' button ' +
                        'which is located at the bottom left corner of the panel.',
                });
            },
            showPredictFlightsInfo() {
                this.$store.dispatch(A.INFORMATION_TOGGLE, {
                    display: true,
                    title: 'Predict flights',
                    content: 'This button is active only after loading at least one flight plan in the list.<br/>' +
                        'You can use this function if you wish to display on the map the selected flight plans ' +
                        '(the ones which are in the list) and their predictions.<br/>' +
                        'A prediction represents an approximation of the route which the aircraft will take when flying.<br/>' +
                        'If you wish to know more about flight plans and predictions click on the \'General information\' button ' +
                        'which is located at the bottom left corner of the panel.',
                });
            },
            showClearAllInfo() {
                this.$store.dispatch(A.INFORMATION_TOGGLE, {
                    display: true,
                    title: 'Predict flights',
                    content: 'This button is active only after loading at least one flight plan in the list.<br/>' +
                        'You can use this button to clear all flight plans from the list and from the map.<br/>' +
                        'If you wish to only remove some flight plans click on the ' +
                        '<img src="' + getGarbageBinIconSrc() + '" alt="info" width="16" height="16"/> ' +
                        'icon located on each flight plan from the list.',
                });
            }
        }
    }
</script>