<template>
    <div v-if="displayPanel" class="d-flex flex-column panelContainer">
        <DefaultFlightPlansPanel
                v-if="displayDefaultPlansPanel"
        />
        <CustomFlightPlanPanel
                v-else
        />
        <div class="w-100 d-flex justify-content-center">
            <div class="panelToggleButtonContainer">
                <button
                        class="generalInformationButton infoBackground m-2"
                        data-toggle="tooltip"
                        title="General information"
                        data-placement="bottom"
                        @click="showGeneralInformation"
                >
                </button>
                <button
                        class="togglePanelButton upArrowBackground"
                        @click="togglePanel"
                >
                </button>
            </div>
            <div class="w-100 d-flex justify-content-end changePanelControlsContainer">
                <div v-if="displayDefaultPlansPanel" class="m-1">
                    <button
                            class="btn btn-secondary"
                            @click="changeDisplayedPanel"
                    >
                        Create custom plan
                    </button>
                </div>
                <div v-else>
                    <button
                            class="btn btn-secondary m-1"
                            @click="predictCustomPlan"
                    >
                        Predict created plan
                    </button>
                    <button
                            class="btn btn-secondary m-1"
                            @click="cancelCreationOfCustomPlan"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div v-else class="panelToggleButtonContainer">
        <button class="togglePanelButton downArrowBackground" @click="togglePanel">
        </button>
    </div>
</template>

<script>
    import A from '../../constants/actions';
    import DefaultFlightPlansPanel from "./DefaultFlightPlansPanel";
    import CustomFlightPlanPanel from "./CustomFlightPlanPanel";

    export default {
        name: "Panel",
        components: {
            DefaultFlightPlansPanel,
            CustomFlightPlanPanel
        },
        computed: {
            displayPanel() {
                return this.$store.state.panelStore.isOpen;
            },
            displayDefaultPlansPanel() {
                return this.$store.state.panelStore.displayDefaultPlansPanel;
            }
        },
        methods: {
            showGeneralInformation() {
              this.$store.dispatch(A.INFORMATION_TOGGLE, {
                  display: true,
                  title: 'General information',
              });
            },
            togglePanel() {
                this.$store.dispatch(A.PANEL_TOGGLE);
            },
            changeDisplayedPanel() {
                this.$store.dispatch(A.PANEL_CHANGE_DISPLAY);
                this.$store.dispatch(A.AERODROME_CLEAR_LOADED_DEPARTURE_AERODROMES);
                this.$store.dispatch(A.AERODROME_CLEAR_LOADED_ARRIVAL_AERODROMES);
                this.$store.dispatch(A.AERODROME_CLEAR_SELECTED_DEPARTURE_AERODROME);
                this.$store.dispatch(A.AERODROME_CLEAR_SELECTED_ARRIVAL_AERODROME);
                this.$store.dispatch(A.FLIGHT_PLAN_CLEAR_ALL);
            },
            cancelCreationOfCustomPlan() {
                this.changeDisplayedPanel();
                this.$store.dispatch(A.WAYPOINTS_CLEAR_LIST);
                this.$store.dispatch(A.WAYPOINTS_CLEAR_LOADED);
                this.$store.dispatch(A.CUSTOM_FLIGHT_PLAN_CLEAR);
            },
            predictCustomPlan() {
                let departureAerodrome = this.$store.state.aerodromeStore.selectedDepartureAerodrome;
                let arrivalAerodrome = this.$store.state.aerodromeStore.selectedArrivalAerodrome;
                let waypoints = this.$store.state.waypointsStore.waypointsInList;
                if (departureAerodrome === null || arrivalAerodrome === null || waypoints.length === 0) {
                    let title = 'Warning!';
                    let text = departureAerodrome === null ?
                        'Departure airport not selected.' : arrivalAerodrome === null ?
                            'Arrival airport not selected.' :
                            'No waypoints selected.';
                    this.$store.dispatch(A.ALERT_TOGGLE, {
                        display: true,
                        title,
                        text
                    });
                } else {
                    this.$store.dispatch(A.PROGRESS_INDICATOR_TOGGLE, {
                        toggle: true,
                        message: 'Predicting custom flight plan...',
                        canBeCancelled: true,
                    });
                    this.$store.dispatch(A.CUSTOM_FLIGHT_PLAN_CREATE, {
                        departureAirport: departureAerodrome,
                        arrivalAirport: arrivalAerodrome,
                        waypoints,
                    });
                    this.$store.dispatch(A.WAYPOINTS_CLEAR_LIST);
                    this.$store.dispatch(A.WAYPOINTS_CLEAR_LOADED);
                }
            }
        }
    }
</script>

<style src="./panel.css"></style>