.panelContainer {
    height: 40%;
}

.panel {
    background-color: #3B3B3B;
    height: 100%;
    z-index: 7;
    align-content: center;
    justify-content: center;
}

.panelToggleButtonContainer {
    width: 100%;
    height: 32px;
    text-align: center;
}

.generalInformationButton {
    width: 32px;
    height: 32px;
    border: 0;
    position: relative;
    z-index: 6;
    float: left;
    background: url("../../assets/info.svg");
    background-size: 32px 32px;
}

.actionInformationButton {
    width: 25px;
    height: 25px;
    border: 0;
    background: url("../../assets/info.svg");
    background-size: 25px 25px;
    float: right;
}

.togglePanelButton {
    width: 32px;
    height: 32px;
    border: 0;
    position: fixed;
    z-index: 6;
}

.downArrowBackground {
    background: url("../../assets/down-arrow.png");
    background-size: 32px 32px;
}

.upArrowBackground {
    background: url("../../assets/up-arrow.png");
    background-size: 32px 32px;
}

.togglePanelButtonIcon {
    width: 32px;
    height: 32px;
}

.loadedAerodromeList {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 75%;
    padding: 5px;
}

.leadedAerodromeEntry {
    cursor: pointer;
}

.changePanelControlsContainer {
    position: absolute;
    z-index: 5;
}