.informationContainer {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000C0;
    z-index: 1000;
}

.information {
    margin-left: 37.5%;
}

.informationContent {
    overflow-y: scroll;
    width: 95%;
    height: 40%;
}