<template>
    <div v-if="displayInformation" class="informationContainer d-flex flex-column justify-content-center">
        <div class="information h-50 w-25 d-flex flex-column justify-content-center bg-dark">
            <span class="text-center text-light font-weight-bold m-3 border-bottom">
                {{title}}
            </span>
            <div
                    class="informationContent text-center text-light m-3"
                    v-html="content"
            >
            </div>
            <div class="m-3 d-flex justify-content-center">
                <button
                        class="btn btn-secondary w-25 text-light"
                        @click="toggleInformation"
                >
                    OK
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import A from '../../constants/actions';

    export default {
        name: "InformationModal",
        computed: {
            displayInformation() {
                return this.$store.state.informationStore.display;
            },
            title() {
                return this.$store.state.informationStore.title;
            },
            content() {
                return this.$store.state.informationStore.content;
            }
        },
        methods: {
            toggleInformation() {
                this.$store.dispatch(A.INFORMATION_TOGGLE, {display: false});
            }
        }
    }
</script>

<style src="./information.css"/>