<template>
    <div>
        <input
                v-model="inputContent"
                placeholder="search airports..."
                class="form-control mt-1 ml-1 mr-1 mb-0"
                type="text"
                @keyup="handleKeyInput"
                @input="searchAerodrome"
                @focusin="openDropdownList"
                @focusout="closeDropdownList"
        >
        <div v-if="showDropdownList">
            <div
                    v-if="loadedAerodromes.length > 0"
                    class="dropdownList"
                    @mouseenter="focusDropdownList"
                    @mouseleave="unFocusDropdownList"
                    @focusout="closeDropdownList"
            >
                <div
                        v-for="aerodrome in loadedAerodromes"
                        :class="getDropdownItemClass(aerodrome)"
                        :key="`aerodromeOption${aerodrome.id}`"
                        @click="selectAerodrome(aerodrome)"
                        data-toggle="tooltip"
                        :title="`${aerodrome.designator}, ${aerodrome.name}`"
                        data-placement="bottom"
                >
                    {{`${aerodrome.designator}, ${aerodrome.name}`}}
                </div>
            </div>
            <div
                    v-else
                    class="dropdownList"
            >
                {{noAirportsFoundMessage}}
            </div>
        </div>
    </div>
</template>

<script>
    import A from '../../constants/actions';

    export default {
        name: "AerodromeSearchInput",
        props: ['isDeparture', 'onlyAirportsInFlightPlans', 'noAirportsFoundMessage'],
        data: function() {
            return {
                inputContent: '',
                showDropdownList: false,
                mouseInDropdownList: false,
                hoveredIndex: -1,
            };
        },
        computed: {
            loadedAerodromes() {
                if (this.inputContent.length > 3) {
                    return this.isDeparture ?
                        this.$store.state.aerodromeStore.loadedDepartureAerodromes :
                        this.$store.state.aerodromeStore.loadedArrivalAerodromes;
                }
                return [];
            },
        },
        methods: {
            getDropdownItemClass(aerodrome) {
                let secondClass = '';
                if ((aerodrome)) {
                    if (this.isHovered(aerodrome.id)) {
                        if (this.isSelected(aerodrome.id)) {
                            secondClass = 'hoveredSelectedDropdownItem';
                        } else {
                            secondClass = 'hoveredDropdownItem';
                        }
                    } else if (this.isSelected(aerodrome.id)) {
                        secondClass = 'selectedDropdownItem';
                    }
                }
                return [
                    'dropdownItem',
                    secondClass
                ].join(' ');
            },
            getSelectedAerodrome() {
                return this.isDeparture ?
                    this.$store.state.aerodromeStore.selectedDepartureAerodrome:
                    this.$store.state.aerodromeStore.selectedArrivalAerodrome;
            },
            getOtherSelectedAerodrome() {
                return this.isDeparture ?
                    this.$store.state.aerodromeStore.selectedArrivalAerodrome:
                    this.$store.state.aerodromeStore.selectedDepartureAerodrome;
            },
            getHoveredAerodrome() {
                return this.isDeparture ?
                    this.$store.state.aerodromeStore.hoveredDepartureAerodrome :
                    this.$store.state.aerodromeStore.hoveredArrivalAerodrome;
            },
            getAerodromeIndex(id) {
                return this.loadedAerodromes.indexOf(a => a.id === id);
            },
            closeDropdownList() {
                if (!this.mouseInDropdownList) {
                    this.showDropdownList = false;
                    this.hoveredIndex = -1;
                }
            },
            openDropdownList() {
                this.showDropdownList = true;
            },
            unFocusDropdownList() {
                this.mouseInDropdownList = false;
            },
            focusDropdownList() {
                this.mouseInDropdownList = true;
            },
            handleKeyInput(evt) {
                if (evt.keyCode === 13) {
                    let aerodrome = this.getHoveredAerodrome();
                    if (aerodrome !== null) {
                        this.selectAerodrome(aerodrome);
                    }
                    return;
                }
                if (evt.keyCode === 38) {
                    this.hoverPrevious();
                    return;
                }
                if (evt.keyCode === 40) {
                    this.hoverNext();
                }
            },
            searchAerodrome() {
                if (this.inputContent.length > 3) {
                    const otherAerodrome = this.getOtherSelectedAerodrome();
                    const otherDesignator = (otherAerodrome) ? otherAerodrome.designator : null;
                    const config = {
                        textQuery: this.inputContent,
                        isDeparture: this.isDeparture,
                        otherDesignator: otherDesignator,
                        onlyAirportsInFlightPlans: this.onlyAirportsInFlightPlans,
                    };
                    this.isDeparture ?
                        this.$store.dispatch(A.AERODROME_LOAD_DEPARTURE_AERODROMES, config) :
                        this.$store.dispatch(A.AERODROME_LOAD_ARRIVAL_AERODROMES, config);
                }
                this.hoveredIndex = -1;
            },
            selectAerodrome(aerodrome) {
                this.isDeparture ?
                    this.$store.dispatch(A.AERODROME_SELECT_DEPARTURE_AERODROME, aerodrome.id) :
                    this.$store.dispatch(A.AERODROME_SELECT_ARRIVAL_AERODROME, aerodrome.id);
                this.inputContent = aerodrome.name;
                this.hoveredIndex = this.getAerodromeIndex(aerodrome.id);
                this.hoverAerodrome();
                this.closeDropdownList();

            },
            hoverAerodrome() {
                this.isDeparture ?
                    this.$store.dispatch(A.AERODROME_HOVER_DEPARTURE_AERODROME, this.hoveredIndex) :
                    this.$store.dispatch(A.AERODROME_HOVER_ARRIVAL_AERODROME, this.hoveredIndex);
            },
            isSelected(id) {
                const aerodrome = this.getSelectedAerodrome();
                return (aerodrome) ? aerodrome.id === id : false;
            },
            isHovered(id) {
                const aerodrome = this.getHoveredAerodrome();
                return (aerodrome) ? aerodrome.id === id : false;
            },
            hoverNext() {
                if (this.loadedAerodromes.length === 0) {
                    return;
                }
                if (this.hoveredIndex === this.loadedAerodromes.length - 1) {
                    this.hoveredIndex = 0;
                } else {
                    this.hoveredIndex = this.hoveredIndex + 1;
                }
                this.hoverAerodrome();
            },
            hoverPrevious() {
                if (this.loadedAerodromes.length === 0) {
                    return;
                }
                if (this.hoveredIndex === -1 || this.hoveredIndex === 0) {
                    this.hoveredIndex = this.loadedAerodromes.length - 1;
                } else {
                    this.hoveredIndex = this.hoveredIndex - 1;
                }
                this.hoverAerodrome();
            }
        }
    }
</script>

<style src="./aerodromeSearchInput.css"/>