::-webkit-scrollbar {
    width: 10px;
    background-color: #00000000;
}

::-webkit-scrollbar-thumb {
    background-color: #69696990;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #696969;
}

.dropdownList {
    position: absolute;
    max-height: 50%;
    width: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFFFFFE0;
    border: 1px solid #FFFFFFE0;
    border-radius: 3px;
    z-index: 1000;
}

.dropdownItem {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    z-index: 1000 !important;
    padding: 5px;
}

.hoveredDropdownItem {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    z-index: 1000 !important;
    padding: 5px;
    background-color: #778899E0;
}

.dropdownItem:hover {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    z-index: 1000 !important;
    padding: 5px;
    background-color: #778899E0;
}

.selectedDropdownItem {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
    background-color: #3B3B3BE0;
    color: lightgray;
    position: relative;
    z-index: 1000;
}

.selectedDropdownItem:hover {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
    background-color: #696969E0;
    color: lightgray;
    position: relative;
    z-index: 1000;
}

.hoveredSelectedDropdownItem {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
    background-color: #696969E0;
    color: lightgray;
    position: relative;
    z-index: 1000;
}