<template>
    <div v-if="displayAlert" class="alertContainer d-flex flex-column justify-content-center">
        <div class="alert w-25 d-flex flex-column justify-content-center bg-danger">
            <span class="text-center text-light font-weight-bold m-3 border-bottom">
                {{title}}
            </span>
                <span class="text-center text-light m-3">
                {{text}}
            </span>
            <div class="h-25 m-3 d-flex justify-content-center">
                <button
                        class="btn btn-light w-25 text-dark"
                        @click="toggleAlert"
                >
                    OK
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import A from '../../constants/actions';

    export default {
        name: "AlertModal",
        computed: {
            displayAlert() {
                return this.$store.state.alertStore.display;
            },
            title() {
                return this.$store.state.alertStore.title;
            },
            text() {
                return this.$store.state.alertStore.text;
            }
        },
        methods: {
            toggleAlert() {
                this.$store.dispatch(A.ALERT_TOGGLE, { toggle: false, title: '', text: '' });
            }
        }
    }
</script>

<style src="./alert.css"/>