.alertContainer {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000C0;
    z-index: 1000;
}

.alert {
    margin-left: 37.5%;
}