<template>
  <div id="app">
    <ProgressIndicator/>
    <AlertModal/>
    <InformationModal/>
    <Map/>
    <Panel/>
  </div>
</template>

<script>
import Map from './components/map/Map';
import Panel from './components/panel/Panel';
import ProgressIndicator from "./components/progressIndicator/ProgressIndicator";
import AlertModal from "./components/alert/AlertModal";
import InformationModal from "./components/information/InformationModal";

export default {
  name: 'App',
  components: {
    ProgressIndicator,
    AlertModal,
    InformationModal,
    Map,
    Panel,
  }
}
</script>
<style src="./app.css"></style>
