<template>
    <div class="bg-dark d-flex justify-content-center flex-column featureOverlay">
        <span class="text-light font-weight-bold featureOverlayTitle">
            {{this.title}}
        </span>
        <div v-if="featureIsFlightPlan" class="featureOverlayContent d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-center m-2">
                <span class="w-50 text-light font-weight-bold fieldNameTextContent">
                    From:
                </span>
                <span class="w-50 text-light fieldValueTextContent">
                    {{getDepartureAerodromeForFlightPlan}}
                </span>
            </div>
            <div class="d-flex justify-content-center m-2">
                <span class="w-50 text-light font-weight-bold fieldNameTextContent">
                    To:
                </span>
                <span class="w-50 text-light fieldValueTextContent">
                    {{getArrivalAerodromeForFlightPlan}}
                </span>
            </div>
        </div>
        <div v-else class="featureOverlayContent d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-center m-2">
                <span class="w-50 text-light font-weight-bold fieldNameTextContent">
                    Designator:
                </span>
                <span class="w-50 text-light fieldValueTextContent">
                    {{this.feature.routeElement.designator}}
                </span>
            </div>
            <div class="d-flex justify-content-center m-2">
                <span class="w-50 text-light font-weight-bold fieldNameTextContent">
                    Name:
                </span>
                <span class="w-50 text-light fieldValueTextContent">
                    {{this.feature.routeElement.name}}
                </span>
            </div>
            <div class="d-flex justify-content-center m-2">
                <span class="w-50 text-light font-weight-bold fieldNameTextContent">
                    Position:
                </span>
                <span class="w-50 text-light fieldValueTextContent">
                    {{
                    `[${this.feature.routeElement.position.latitude.toFixed(2)}, ` +
                    `${this.feature.routeElement.position.longitude.toFixed(2)}]`
                    }}
                </span>
            </div>
        </div>
        <div v-if="canAddFeature" class="w-100 d-flex justify-content-center">
            <button
                    class="btn btn-info w-50 m-1"
                    @click="addWaypoint"
            >
                Add
            </button>
        </div>
    </div>
</template>

<script>
    import A from '../../constants/actions';

    export default {
        name: "FeatureOverlay",
        props: ['feature'],
        computed: {
            featureIsFlightPlan() {
                return this.feature.isFlightPlan;
            },
            featureIsAirport() {
                return this.feature.routeElement.isAirport;
            },
            title() {
                const feature = this.feature;
                if (this.featureIsFlightPlan) {
                    return feature.flightPlan.isPrediction ? 'Predicted flight plan' :
                        feature.flightPlan.isCustom ?
                            'Custom flight plan': 'Default flight plan';
                } else if (this.featureIsAirport) {
                    return feature.routeElement.isDeparture ? 'Departure airport' : 'Arrival airport';
                } else {
                    return 'Waypoint';
                }
            },
            canAddFeature() {
                return this.feature.routeElement === undefined ? false :
                    this.feature.routeElement.canAdd;
            },
            getDepartureAerodromeForFlightPlan() {
                if (this.feature.flightPlan.departureAirport) {
                    if (this.feature.flightPlan.departureAirport.designator) {
                        return this.feature.flightPlan.departureAirport.designator;
                    }
                    return this.feature.flightPlan.departureAirport;
                } else {
                    return this.feature.flightPlan.departureAerodrome.designator;
                }
            },
            getArrivalAerodromeForFlightPlan() {
                if (this.feature.flightPlan.arrivalAirport) {
                    if (this.feature.flightPlan.arrivalAirport.designator) {
                        return this.feature.flightPlan.arrivalAirport.designator;
                    }
                    return this.feature.flightPlan.arrivalAirport;
                } else {
                    return this.feature.flightPlan.arrivalAerodrome.designator;
                }
            }
        },
        methods: {
            addWaypoint() {
                this.$store.dispatch(A.WAYPOINTS_ADD_TO_LIST, this.feature.routeElement);
            }
        }
    }
</script>

<style scoped>

</style>