.my-map {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.featureOverlay {
    width: 250px;
    height: 300px;
    border: 3px solid lightgray;
    border-radius: 10px;
}

.featureOverlayTitle {
    text-align: center;
    width: 100%;
    height: 15%;
    border-bottom: 2px solid lightgray;
}

.featureOverlayContent {
    text-align: center;
    width: 100%;
    height: 85%;
}

.fieldNameTextContent {
    text-align: left;
    padding-left: 10px;
}

.fieldValueTextContent {
    text-align: right;
    right: 10px;
}