<template>
    <vl-map
            ref="map"
            :load-tiles-while-animating="true"
            :load-tiles-while-interacting="true"
            :data-projection="projection"
            class="my-map"
    >

        <vl-view
                :min-zoom="minZoom"
                :zoom.sync="zoom"
                :center="center"
                :rotation="rotation"
        >
        </vl-view>

        <vl-layer-tile>
            <vl-source-xyz
                    :url="url"
            >
            </vl-source-xyz>
        </vl-layer-tile>

        <vl-feature
                v-for="flightPlan in flightPlansToRender"
                :key="`flightPlanLayerRoute${flightPlan.id}`"
                :properties="{
                isFlightPlan: true,
                flightPlan: flightPlan
                }"
        >
            <vl-geom-line-string
                    :key="`route${flightPlan.id}`"
                    :coordinates="getRouteCoordinates(flightPlan)"
            />
            <vl-style-box>
                <vl-style-stroke
                        :color="getRouteColor(flightPlan)"
                        :width="5"
                />
            </vl-style-box>
        </vl-feature>

        <div
                v-for="flightPlan in flightPlansToRender"
                :key="`flightPlanLayerElements${flightPlan.id}`"
        >
            <vl-feature
                    v-for="routeElement in flightPlan.routeElements"
                    :key="`routeElement${routeElement.id}`"
                    :properties="{
                        isFlightPlan: false,
                        routeElement: routeElement
                     }"
            >
                <vl-geom-point
                        :key="`routeElement${routeElement.id}${flightPlan.id}`"
                        :coordinates="getRouteElementCoordinates(routeElement)"
                />
                <vl-style-box>
                    <vl-style-icon
                            :src="getIconSrc(routeElement, flightPlan)"
                            :scale="getIconScale(routeElement)"
                            :anchor="getIconAnchor(routeElement)"
                    />
                </vl-style-box>
            </vl-feature>
        </div>

        <vl-feature
                v-for="waypoint in waypointsToRender"
                :key="`waypointElement${waypoint.id}`"
                :properties="{
                        isFlightPlan: false,
                        routeElement: waypoint
                     }"
        >
            <vl-geom-point
                    :key="`loadedWaypoint${waypoint.id}`"
                    :coordinates="getRouteElementCoordinates(waypoint)"
            />
            <vl-style-box>
                <vl-style-icon
                        :src="getIconSrc(waypoint)"
                        :scale="getIconScale(waypoint)"
                        :anchor="getIconAnchor(waypoint)"
                />
            </vl-style-box>
        </vl-feature>
        <vl-feature
                v-if="customFlightPlan !== null"
                :key="`customFlight${customFlightPlan.id}`"
                :properties="{
                isFlightPlan: true,
                flightPlan: customFlightPlan
                }"
        >
            <vl-geom-line-string
                    :key="`customFlightRoute${customFlightPlan.id}`"
                    :coordinates="getRouteCoordinates(customFlightPlan)"
            />
            <vl-style-box>
                <vl-style-stroke
                        :color="getRouteColor(customFlightPlan)"
                        :width="5"
                />
            </vl-style-box>
        </vl-feature>
        <vl-feature
                v-if="customFlightPlanPrediction !== null"
                :key="`customFlight${customFlightPlanPrediction.id}`"
                :properties="{
                isFlightPlan: true,
                flightPlan: customFlightPlanPrediction
                }"
        >
            <vl-geom-line-string
                    :key="`customFlightRoute${customFlightPlanPrediction.id}`"
                    :coordinates="getRouteCoordinates(customFlightPlanPrediction)"
            />
            <vl-style-box>
                <vl-style-stroke
                        :color="getRouteColor(customFlightPlanPrediction)"
                        :width="5"
                />
            </vl-style-box>
        </vl-feature>
        <div v-if="customFlightPlan !== null">
            <vl-feature
                    v-for="routeElement in customFlightPlan.routeElements"
                    :key="`customFlightPlanRouteElement${routeElement.id}`"
                    :properties="{
                        isFlightPlan: false,
                        routeElement: routeElement
                     }"
            >
                <vl-geom-point
                        :key="`customFlightPlanRouteElement${routeElement.id}${customFlightPlan.id}`"
                        :coordinates="getRouteElementCoordinates(routeElement)"
                />
                <vl-style-box>
                    <vl-style-icon
                            :src="getIconSrc(routeElement, customFlightPlan)"
                            :scale="getIconScale(routeElement)"
                            :anchor="getIconAnchor(routeElement)"
                    />
                </vl-style-box>
            </vl-feature>
        </div>
        <div v-if="customFlightPlanPrediction !== null">
            <vl-feature
                    v-for="routeElement in customFlightPlanPrediction.routeElements"
                    :key="`customFlightPlanPredictionRouteElement${routeElement.id}`"
                    :properties="{
                        isFlightPlan: false,
                        routeElement: routeElement
                     }"
            >
                <vl-geom-point
                        :key="`customFlightPlanPredictionRouteElement${routeElement.id}${customFlightPlanPrediction.id}`"
                        :coordinates="getRouteElementCoordinates(routeElement)"
                />
                <vl-style-box>
                    <vl-style-icon
                            :src="getIconSrc(routeElement, customFlightPlanPrediction)"
                            :scale="getIconScale(routeElement)"
                            :anchor="getIconAnchor(routeElement)"
                    />
                </vl-style-box>
            </vl-feature>
        </div>
        <vl-interaction-select
                :features.sync="selectedFeatures"
                :condition="eventCondition.click"
        >
            <vl-overlay
                    v-for="feature in selectedFeatures"
                    :key="`overlayOf${feature.id}`"
                    :position="getClickCoordinate(feature)"
            >
                <FeatureOverlay
                        :feature="feature.properties"
                />
            </vl-overlay>
        </vl-interaction-select>
    </vl-map>
</template>

<script>

    import {findPointOnSurface} from 'vuelayers/lib/ol-ext';
    import FeatureOverlay from "./FeatureOverlay";
    import Store from '../../store';
    import A from '../../constants/actions';

    export default {
        name: "Map",
        components: {
            FeatureOverlay
        },
        mounted() {
            this.$refs.map.$createPromise.then(vueMap => {
                vueMap.$map.on('click', function (evt) {
                    Store.dispatch(A.MAP_UPDATE_CLICK_COORDINATE, ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326'));
                })
            })
        },
        computed: {
            flightPlansToRender() {
                return this.$store.state.flightPlansStore.elementsOnMap;
            },
            waypointsToRender() {
                if (this.$store.state.waypointsStore.loadedWaypoints.length > 0) {
                    let itemsToRender = this.copyObject(this.$store.state.waypointsStore.loadedWaypoints);
                    let departureAerodrome = this.copyObject(this.$store.state.aerodromeStore.selectedDepartureAerodrome);
                    let arrivalAerodrome = this.copyObject(this.$store.state.aerodromeStore.selectedArrivalAerodrome);
                    if (departureAerodrome !== null) {
                        departureAerodrome.isAirport = true;
                        departureAerodrome.isDeparture = true;
                        itemsToRender.push(departureAerodrome);
                    }
                    if (arrivalAerodrome !== null) {
                        arrivalAerodrome.isAirport = true;
                        itemsToRender.push(arrivalAerodrome);
                    }
                    return itemsToRender;
                } else {
                    return [];
                }
            },
            eventCondition() {
                return ol.events.condition;
            },
            customFlightPlan() {
                return this.$store.state.customFlightPlanStore.createdCustomFlightPlan;
            },
            customFlightPlanPrediction() {
                return this.$store.state.customFlightPlanStore.predictionOfCustomFlightPlan;
            }
        },
        data() {
            return {
                minZoom: 3,
                zoom: 6,
                center: [9, 53.0],
                rotation: 0,
                url: "https://a.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png",
                projection: "EPSG:4326",
                selectedFeatures: [],
            }
        },
        methods: {
            copyObject(obj) {
                return JSON.parse(JSON.stringify(obj));
            },
            getRouteCoordinates(flightPlan) {
                return flightPlan.route.coordinates;
            },
            getRouteColor(flightPlan) {
                return flightPlan.isPrediction ? 'rgba(45, 133, 104, 1)' : 'rgba(41, 109, 152, 1)';
            },
            getRouteElementCoordinates(routeElement) {
                return [routeElement.position.longitude, routeElement.position.latitude];
            },
            getAirportIconName(airport) {
                return airport.isDeparture ? 'airport-departure' : 'airport-arrival';
            },
            getIconSrc(routeElement, flightPlan) {
                const images = require.context('../../assets', false, /\.svg$/);
                let imageName = routeElement.isAirport ? this.getAirportIconName(routeElement) : 'waypoint';
                imageName += flightPlan === undefined ?
                    '.svg' :
                    flightPlan.isPrediction ? '-prediction.svg' : '.svg';
                return images(`./${imageName}`);
            },
            getIconScale(routeElement) {
                return routeElement.isAirport ? 1.5 : 0.5;
            },
            getIconAnchor(routeElement) {
                return routeElement.isAirport ? [0.5, 1] : [0.5, 0.5];
            },
            getClickCoordinate(feature) {
                let clickCoordinate = this.$store.state.mapStore.clickCoordinate;
                let type = feature.geometry.type;
                if (type === 'LineString') {
                    let geometry = new ol.geom.LineString(feature.geometry.coordinates);
                    let point = new ol.geom.Point(clickCoordinate);
                    if (point.intersectsExtent(geometry.getExtent())) {
                        return clickCoordinate;
                    } else {
                        return [1e5, 1e5];
                    }
                } else {
                    return findPointOnSurface(feature.geometry);
                }
            },
        }
    }
</script>

<style src="./map.css"></style>