

.collectionTitle {
    height: 15%;
}

.collection {
    height: 90%;
    width: 100%;
}

.itemsContainer {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.item {
    border: 0;
    border-radius: 2px;
    width: 75%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(220,220,220, 0.1), 0 6px 20px 0 rgba(220,220,220, 0.09);
}

.item:hover {
    border: 0;
    border-radius: 2px;
    width: 75%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(192,192,192, 0.2), 0 6px 20px 0 rgba(192,192,192, 0.19);
}

.listElementDeleteButton {
    background: url("../../assets/garbage-bin.svg");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    border: 0;
    margin: 2px;
}

.listElementDeleteButton:hover {
    background: url("../../assets/garbage-bin-hover.svg");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    border: 0;
    margin: 2px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #3B3B3B00;
}

::-webkit-scrollbar-thumb {
    background-color: #26262690;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #262626;
}