<template>
    <div class="collection m-2">
        <div class="collectionTitle w-100 text-center font-weight-bolder text-light">{{listTitle}}</div>
        <div v-if="hasItems" class="itemsContainer">
            <Item
                    v-for="item in items"
                    :key="`collectionItem${item.id}`"
                    :displayed-content="getDisplayedContent(item)"
                    :displayed-content-tooltip="getDisplayedContentTooltip(item)"
                    :delete-item="deleteItem"
                    :item-id="item.id"
                    :delete-button-tooltip-content="deleteButtonTooltipContent"
            />
        </div>
        <div v-else class="itemsContainer text-center text-light">
            {{emptyListMessage}}
        </div>
    </div>
</template>

<script>
    import Item from "./Item";
    export default {
        components: {
            Item
        },
        name: "Collection",
        props: [
            'items',
            'deleteItem',
            'getDisplayedContent',
            'deleteButtonTooltipContent',
            'listTitle',
            'emptyListMessage',
            'getDisplayedContentTooltip',
        ],
        computed: {
            hasItems() {
                return this.items === undefined ? false : this.items.length > 0;
            }
        }
    }
</script>

<style src="./collection.css"/>
