<template>
    <div class="item bg-secondary d-flex flex-row justify-content-center text-light">
        <div
                style="text-overflow: ellipsis !important; overflow: hidden !important; white-space: nowrap;"
                class="h-100 w-75 text-center mr-5 p-2"
                v-html="displayedContent"
                data-toggle="tooltip"
                :title="displayedContentTooltip"
                data-placement="bottom"
        >
        </div>
        <button
            @click="deleteItem(itemId)"
            class="listElementDeleteButton float-right ml-5 m-3"
            data-toggle="tooltip"
            :title="deleteButtonTooltipContent"
            data-placement="bottom"
        >
        </button>
    </div>
</template>

<script>
    export default {
        name: "Item",
        props: ['displayedContent', 'displayedContentTooltip', 'itemId', 'deleteItem', 'deleteButtonTooltipContent'],
    }
</script>