<template>
    <div id="progressIndicator" v-if="displayIndicator" class="progressIndicator d-flex flex-column justify-content-center">
        <span class="progressIndicatorMessage text-light">
            {{displayedMessage}}
        </span>
        <img
                class="progressIndicatorImage"
                src="../../assets/progress-indicator.svg"
                alt="action in progress..."
        />
        <button
                v-if="canBeCancelled"
                class="btn btn-danger text-light progressIndicatorCancelButton"
                @click="cancelFetch"
        >
            Cancel
        </button>
    </div>
</template>

<script>
    import A from '../../constants/actions';

    export default {
        name: "ProgressIndicator",
        computed: {
            displayIndicator() {
                return this.$store.state.progressIndicatorStore.displayIndicator;
            },
            displayedMessage() {
                return this.$store.state.progressIndicatorStore.displayedMessage;
            },
            canBeCancelled() {
                return this.$store.state.progressIndicatorStore.canBeCancelled;
            }
        },
        methods: {
            cancelFetch() {
                this.$store.state.progressIndicatorStore.abortController.abort();
                this.$store.dispatch(A.PROGRESS_INDICATOR_TOGGLE, {toggle: false});
            }
        }
    }
</script>

<style src="./progressIndicator.css"/>