.progressIndicator {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000C0;
    z-index: 1000;
}
.progressIndicatorMessage {
    font-weight: bold;
    text-align: center;
}

.progressIndicatorImage {
    width: 10%;
    height: 10%;
    margin-left: 45%;
}

.progressIndicatorCancelButton {
    width: 10%;
    margin-left: 45%;
}